.section-title h4 {
	font-size: 40px;
	text-transform: capitalize;
	color: #FF5E18;
	position: relative;
	display: inline-block;
	padding-bottom: 25px;
}

.section-title p {
	font-size: 24px;
	font-family: Oleo Script;
	margin-bottom: 0px;
}

