.container{
    display: flex;
    .text{
        padding: 1em 1em;
        flex: 1;
        h2{
            color: #1c3177;
            font-size: 2.5em;
        }
        h3{
            color: #AD3123;
            font-size: 2em;
            font-weight: 300;
            margin-top: -1em;
        }
        p{
            color: #7e5e5a;
            line-height: 1.5em;
            margin-top: -1em;
        }
    }
}