main {
    // program overview or Computer science
    div#con-cs-top {
        height: 480px;
        div#content-cs {
            display: inline-block;
            width: 50%;
            margin-left: 8%;
            color: black;
            h1 {
                padding-bottom: 20px;
                font-weight: bold;
                font-size: 3em;
            }
            P {
                font-size: 1.25em;
                margin-bottom: 30px;
            }
            form {
                label {
                    a {
                        font-size: 24px;
                        background-color: blue;
                        border-radius: 26px;
                        color: black;
                        text-decoration: none;
                        padding: 5px 25px;
                        margin-top: 20px;
                    }
                    a:hover {
                        color: chartreuse;
                    }
                }
            }
        }
        div#image-of-cs-logo {
            display: inline-block;
            img {
                position: relative;
                width: 250px;
                height: auto;
                margin-left: 78%;
                margin-bottom: 50%;
            }
        }
    }
    // Job Opportunity
    div#job-oppor {
        width: 80%;
        height: 500px;
        background-color: gray;
        margin: 0 auto;
        margin-bottom: 50px;
        div#left-side {
            width: 50%;
            height: 100%;
            margin: 0;
            float: left;
            background-color: red;
        }
        div#right-side {
            width: 50%;
            height: 100%;
            margin: 0;
            float: right;
            background-color: blue;
        }
    }
    // Learning Outcome
    div#learn-out {
        background-color: #04354A;
        color: black;
        padding: 40px 0;
        height: 360px;
        h2 {
            margin-bottom: 20px;
            margin-left: 7%;
            font-weight: bold;
            font-size: 2em;
        }
        p {
            font-size: 1.25em;
            margin-left: 7%;
        }
        ul {
            li {
                margin-left: 9%;
                list-style-type: square;
                p {
                    margin-left: 1.5%;
                    font-size: 1em;
                }
            }
        }
    }
    div#pro-struct {
        margin-top: 30px;
        h2 {
            font-weight: bold;
            color: #04354A;
            margin-left: 7%;
            font-size: 2em;
        }
        div.year {
            p {
                font-size: 2em;
                margin-left: 7%;
                margin-top: 20px;
                margin-bottom: 20px;
                font-weight: bold;
            }
            div#term {
                div.term-1-2-3 {
                    width: 30%;
                    display: inline-block;
                    margin-left: 2.5%;
                    p.by-term {
                        font-size: 1.75em;
                        text-align: center;
                        margin: 0px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    div.content-pro-struct {
                        p {
                            background: linear-gradient(to bottom, #1a237e 50%, #0d47a1 100%);
                            text-align: center;
                            font-size: 1em;
                            padding: 10px 2px;
                            font-weight: bold;
                            color: black;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}