/* header set */

h1,
h2 {
    padding-bottom: 20px;
    font-weight: bold;
    margin-left: 8%;
    font-size: 2em;
    padding-top: 20px;
}

main div#block-cs {
    display: block;
    /* background-color: blue; */
    /* padding-bottom: 200px; */
    /* position: absolute; */
}

main div#block-cs div#con-cs-top {
    width: 100%;
    height: 480px;
    display: flex;
}

main div#block-cs div#con-cs-top div#content-cs {
    height: 100%;
    display: inline-block;
    width: 60%;
    margin-left: 8%;
    color: black;
}

main div#block-cs div#con-cs-top div#content-cs h1 {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 3em;
}

main div#block-cs div#con-cs-top div#content-cs P {
    margin-bottom: 30px;
}

main div#block-cs div#con-cs-top div#content-cs form label a {
    font-size: 24px;
    font-weight: bolder;
    background-color: blue;
    color: black;
    text-decoration: none;
    padding: 5px 25px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 30px;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

main div#block-cs div#con-cs-top div#content-cs form label a:hover {
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px whitesmoke, 0 0 5px whitesmoke;
}

main div#block-cs div#con-cs-top div#image-of-cs-logo {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

main div#block-cs div#con-cs-top div#image-of-cs-logo img {
    /* position: relative; */
    width: 250px;
    height: 250px;
}


/* job opportunity */

main div#block-job {
    display: block;
}

main div#block-job div#job-oppor {
    display: flex;
    width: 70%;
    height: 400px;
    /* background-color: gray; */
    margin: 0 auto;
    margin-bottom: 50px;
}

main div#block-job div#job-oppor div#left-side {
    width: 50%;
    height: 100%;
    margin: 0;
    /* float: left; */
    background-color: blue;
}

main div#block-job div#job-oppor div#left-side h2 {
    color: white;
    font-size: 2em;
}

main div#block-job div#job-oppor div#left-side div.job-content>ul>li {
    list-style-type: none;
    margin-bottom: 25px;
}

main div#block-job div#job-oppor div#left-side div.job-content>ul>li>a {
    text-decoration: none;
    color: white;
    /* font-size: 22px; */
}

main div#block-job div#job-oppor div#right-side {
    width: 50%;
    height: 100%;
    margin: 0;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    /* float: right; */
    /* background-color: blue; */
}

main div#block-job div#job-oppor div#right-side>iframe {
    height: 100%;
    width: 100%;
}


/* Learn out come */


/* main div#learn-out {
    background-color: #04354A;
    color: black;
    padding: 40px 0;
    height: 360px;
}

main div#learn-out h2 {
    margin-bottom: 20px;
    margin-left: 7%;
    font-weight: bold;
    font-size: 2em;
}

main div#learn-out p {
    font-size: 1.25em;
    margin-left: 7%;
}

main div#learn-out ul li {
    margin-left: 9%;
    list-style-type: square;
}

main div#learn-out ul li p {
    margin-left: 1.5%;
    font-size: 1em;
} */

div#learn-out {
    display: block;
    margin: 10px 5px;
    padding: 10px 5px;
    background-color: #2042B2;
    color: white;
}


/* program structure */


/* main div#pro-struct {
    margin-top: 30px;
}

main div#pro-struct h2 {
    font-weight: bold;
    color: #04354A;
    margin-left: 7%;
    font-size: 2em;
}

main div#pro-struct div.year p {
    font-size: 2em;
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

main div#pro-struct div.year div#term div.term-1-2-3 {
    width: 30%;
    display: inline-block;
    margin-left: 2.5%;
}

main div#pro-struct div.year div#term div.term-1-2-3 p.by-term {
    font-size: 1.75em;
    text-align: center;
    margin: 0px;
    font-weight: bold;
    margin-bottom: 10px;
}

main div#pro-struct div.year div#term div.term-1-2-3 div.content-pro-struct p {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1a237e), to(#0d47a1));
    background: linear-gradient(to bottom, #1a237e 50%, #0d47a1 100%);
    text-align: center;
    font-size: 1em;
    padding: 10px 2px;
    font-weight: bold;
    color: black;
    margin: 0 auto;
} */

main div#pro-struct {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main div#pro-struct h2 {
    font-weight: bold;
    color: black;
}

main div#pro-struct div.year {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main div#pro-struct>div.year>p {
    font-size: 1.2em;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 10px 0;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
    font-weight: bold;
    color: white;
}

main div#pro-struct div.year div#term div.term-1-2-3 {
    width: 31%;
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 0;
}

main div#pro-struct div.year div#term div.term-1-2-3 p.by-term {
    font-size: 1.2em;
    text-align: center;
    margin: 0px;
    font-weight: bold;
    margin-bottom: 10px;
}

main div#pro-struct div.year div#term div.term-1-2-3 div.content-pro-struct {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1a237e), to(#0d47a1));
    background: linear-gradient(to bottom, #1a237e 50%, #0d47a1 100%);
    /* height: 240px; */
}

main div#pro-struct div.year div#term div.term-1-2-3 div.content-pro-struct div {
    height: 40px;
}

main div#pro-struct div.year div#term div.term-1-2-3 div.content-pro-struct div p {
    /* height: 40px; */
    text-align: left;
    padding: 10px 0;
    padding-left: 5%;
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: solid 0.5px #0d47a1;
}

main div#pro-struct div.year div#term div.term-1-2-3 div.no-border {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1a237e), to(#0d47a1));
    background: linear-gradient(to bottom, #1a237e 50%, #0d47a1 100%);
    /* height: 240px; */
}

main div#pro-struct div.year div#term div.term-1-2-3 div.no-border div {
    height: 40px;
}

main div#pro-struct div.year div#term div.term-1-2-3 div.no-border p {
    text-align: left;
    padding: 10px 0;
    padding-left: 5%;
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


/* for term 6 and 10 */


/* footer */

footer#bottom-of-web>div#top-infor {
    margin-top: 60px;
    margin-bottom: 0;
}

footer#bottom-of-web>div#top-infor>div.information {
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;
    color: white;
    display: flex;
    /*   width: 100%; */
    padding-left: 4%;
}

footer#bottom-of-web>div#top-infor>div.information>div {
    margin: 0;
    display: block;
    width: 30%;
    padding: 10px 0;
    padding-left: 1.5%;
}

footer#bottom-of-web>div#top-infor>div.information>div>a {
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px 4px;
    margin-left: -10px;
}

footer#bottom-of-web>div#bottom-copy-right {
    background-color: #242424;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}