/* BODY */
@keyframes slideIn {
    0% {
        transform: translateY(70%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes slideIn_back {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 0.2;
    }
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
    position: absolute;
    width: 100%;
}
/* BACKGROUND IMAGE */
.hero-image {
    width: 100%;
    background: url(/image-files/Hexagon-dotted-connect-line-background.png) no-repeat 50% 50%;
    height: 100vh;
    background-size: cover;
    position: absolute;
    opacity: 0.3;
    top: 0;
    z-index: -10;
    transition: ease-in-out 1s;
    animation: 1s ease-out 0s 1 slideIn_back;
}

/* HOMEPAGE - FIRST VIEW */
.presentation {
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    /* LEFT SIDE - TEXT AND BTN */
    .introduction {
        display: block;
        flex: 1;
        width: 50%;
        z-index: -1;
        animation: 1s ease-out 0s 1 slideIn;
        /* TEXT */
        .quote {
            h1 {
                color: #2042b2;
                font-size: calc(1.2em + 0.8vw);
                text-align: center;
                line-height: calc(30px + 0.6vw);
            }
            span {
                color: #dc2128;
            }
        }
        /* BUTTON */
        .button {
            margin: -25px auto 0 auto;
            width: 100%;
            text-align: center;
            a {
                background-color: #dc2128;
                padding: 18px 25px;
                border-radius: 35px;
                text-decoration: none;
                font-size: calc(1em + 0.5vw);
                font-weight: 700;
                color: white;
                transition: ease-in-out 0.2s;
            }
        }
        .button :hover {
            background-color: #1c3177;
        }
    }
    /* RIGHT SIDE - MODEL GIRL IMAGE */
    .cover {
        flex: 1;
        width: 50%;
        img {
            animation: .8s ease-out 0s 1 slideIn;
            top: 10vh;
            bottom: 0;
            position: absolute;
            margin: 0 auto;
            height: 98%;
        }
    }
}

/* ALL SECTIONS CONTAINER CLASS */
.on-fixed {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
    box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
    border-bottom: none;
    background: #fbfbfb;
    height: auto;
    width: 100%;
    margin: 50px auto;
    padding: 30px 0;
    position: absolute;
    z-index: 1000000;
    /* FOUR CARDS */
    .four-card {
        overflow: hidden;
        /* FIRST CARD - ACADEMIC */
        .academic {
            margin: 0 auto;
            width: 85%;
            display: flex;
            background-color: white;
            padding: 10px;
            -webkit-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
            -moz-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
            box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
            /* LEFT SIDE - MAJOR TEXT */
            .major {
                padding: 10px;
                color: #463d3d;
                flex: 0.8;
                text-align: center;
                width: 50%;
                .text-container {
                    margin: 0 auto 20px;
                    width: 96%;
                    p,
                    h1 {
                        text-align: left;
                        width: 100%;
                        margin: 5px;
                        margin-left: 9px;
                        font-size: calc(18px + 0.5vw);
                        line-height: calc(25px + 0.5vw);
                        word-break: break-word;
                    }
                }
                h1 {
                    font-size: 30px;
                }
                a {
                    text-decoration: none;
                    width: 90%;
                    font-size: calc(15px + 0.5vw);
                    font-weight: 500;
                    color: white;
                    background-color: #2d6481;
                    display: block;
                    padding: 10px;
                    transition: ease-in-out 0.3;
                    margin: -10px auto 0;
                }
                a:hover {
                    background-color: #ad3123;
                }
            }
            .graduate {
                flex: 1.2;
                margin: 8px 0 0 15px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
        .three-card {
            display: flex;
            width: calc(87.3% + 1vh);
            margin: 20px auto 20px;
            .rnd,
            .columnflex > * {
                overflow: hidden;
                margin: 0 5px;
                border-right: solid 5px white;
                background-color: white;
                -webkit-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
                -moz-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
                box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
                text-align: center;
                img {
                    height: 206px;
                    width: auto;
                }
                h1 {
                    font-size: calc(15px + 0.5vw);
                    font-weight: 400;
                    margin: 0;
                }
                p {
                    font-size: 15px;
                    margin: 10px auto 20px;
                    width: 80%;
                    font-weight: 300;
                    line-height: 20px;
                }
            }
            .rnd {
                width: 50%;
                .btn {
                    width: 100%;
                    background: #ad3123;
                    margin: 0 0 5px 5px;
                    padding: 10px;
                    a {
                        font-size: 18px;
                        text-decoration: none;
                        text-align: center;
                        color: white;
                        transition: ease-in-out 0.3s;
                    }
                }
                .btn:hover {
                    background-color: #2d6481;
                }
            }
            .columnflex {
                width: 50%;
                display: flex;
                .training,
                .entrepre {
                    width: 50%;
                    flex: 1/2;
                }
            }
        }
    }
    .youtube {
        background-color: #1c3177;
        height: calc(70vh + 20vw);
        width: 100%;
        padding: 3vh 0 0 0;
        .ytcontainer {
            margin: 3em auto 0;
            background: #fbfbfb;
            width: 80%;
            height: 80%;
            border-radius: 0.3em;
            -webkit-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
            -moz-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
            box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
            display: flex;
            flex-direction: column;
            iframe {
                height: 78%;
                border: none;
            }
            .videos {
                display: flex;
                justify-content: space-around;
                width: 70%;
                margin: 0 auto;
                padding: 1em;
                height: 22%;
                bottom: 0;

                -webkit-overflow-scrolling: touch;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                &::-webkit-scrollbar {
                    display: none;
                }
                .card-yt {
                    text-decoration: none;
                    height: calc(2em + 3vw);
                    img {
                        height: 100%;
                        width: auto;
                        margin: 0 auto;
                        opacity: 0.4;
                        padding: 0.2em;
                    }
                    img:hover {
                        opacity: 0.7;
                    }
                }
                .active {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
    /* WHY NIPICT - 4 POINTS*/
    .whyniptict {
        overflow: hidden;
        background-color: #fbfbfb;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        margin: 0 auto 2rem;
        /* FIRST POINT*/
        .aver-year {
            .cicle {
                background: #1b3176;
            }
        }
        /* SECOND POINT*/
        .got-job {
            .cicle {
                background: #3d8791;
            }
        }
        /* THIRD POINT*/
        .scholar {
            .cicle {
                background: #337373;
            }
        }
        /*FOURTH POINT*/
        .ecom-and-tn {
            .cicle {
                background: #f6c233;
            }
        }
        /* ALL POINT WITH SAME STYLE */
        .card {
            width: 100%;
            overflow: hidden;
            text-align: center;
            margin-top: calc(1em + 4vw);
            height: 50vh;
            line-height: 28px;
            /* BIG CICLE */
            .cicle {
                margin: 0 auto 0.5rem;
                border-radius: 50%;
                height: 150px;
                width: 150px;
                justify-content: center;
                align-items: center;
                display: flex;
                display: -ms-flexbox;
                color: white;
                font-size: calc(2.5em + 2vh);
                font-weight: 500;
                transition: ease-in-out .5s;
            }
            .cicle:hover {
                background-color: #ad3123;
            }
            span {
                color: #1c3177;
                font-weight: 500;
                font-size: 18px;
            }
            p {
                color: #707070;
                font-weight: 300;
                width: 70%;
                margin: 0 auto;
                line-height: 19px;
                font-size: 15px;
                word-break: break-word;
            }
        }
    }
    /* SMART SCHOLARSHIP */
    .smartscholar {
        background: url(/smart-believe-in-yourself-background.png) no-repeat 50% 50%;
        background-size: cover;
        position: relative;
        height: calc(30vh + 20em);
        width: 100%;
        overflow: hidden;
        /* LOGO ON RIGHT */
        .logo {
            width: 15em;
            height: 4em;
            background-color: rgb(255, 255, 255);
            margin-top: 2em;
            border-radius: 4em;
            right: -4em;
            position: absolute;
            img {
                width: 8em;
                height: auto;
                position: absolute;
                left: 2em;
                top: -3.2em;
            }
        }
        .container {
            margin-left: 5vw;
            width: 55vh;
            height: 100%;
            .text {
                position: absolute;
                margin: 0;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                background-color: #facf00;
                border-radius: 2em;
                width: 55vh;
                height: 40vh;
                transition: ease-in-out .5s;
                .text-con {
                    position: absolute;
                    margin: 0;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    width: 100%;
                    p {
                        text-align: center;
                        // margin-top: calc(1.3em + 0.5vw);
                        font-weight: 700;
                        font-size: calc(1em + 0.5vw);
                        margin-bottom: 1.5em;
                        opacity: 0.8;
                    }
                    span {
                        font-weight: 700;
                        color: #009a3e;
                        font-size: 1.5em;
                        opacity: 1;
                    }
                    a {
                        font-weight: 700;
                        padding: 0.8em 2em;
                        background-color: #009a3e;
                        text-decoration: none;
                        color: white;
                        border-radius: 2em;
                    }
                    a:hover {
                        background-color: #746727;
                    }
                }
            }
        }
    }
    .partner {
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #fff;
        padding-top: 0.5em;
        h2 {
            color: #2d6481;
            font-size: calc(1em + 1.5vw);
            overflow: hidden;
        }
        .gallery {
            position: relative;
            height: auto;
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto;
            grid-auto-flow: dense;
            .img {
                position: relative;
                height: calc(5em + 5vw);
                width: auto;
                img {
                    height: 100%;
                    width: auto;
                    transition: 0.3s ease-in-out;
                }
            }
            .span-2 {
                grid-column-start: span 2;
            }
            .img:hover img {
                filter: brightness(0.5) grayscale(100);
            }
        }
    }
    .president {
        width: 100%;
        height: 20em;
        padding: 5em 0;
        .container{
            background-color: white;
            width: 80%;
            height: auto;
            display: flex;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
            -moz-box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
            box-shadow: 0px 0px 6px 0px rgba(189, 189, 189, 1);
            .left-container {
                flex: 1;
                height: 100%;
                img {
                    width: 95%;
                    height: auto;
                    padding: 1.4vw;
                }
            }
            .right-container {
                flex: 1;
                p {
                    padding: 2vw 4vw;
                    font-size: calc(1em + 0.5vw);
                    color: #646363;
                    line-height: calc(1.2em + 0.5vw);
                    margin-bottom: -20px;
                }
                .equal {
                    height: 85px;
                    width: auto;
                    h1,
                    h2 {
                        line-height: calc(10px + 1vw);
                        padding: 0 4vw;
                        font-weight: 300;
                        color: #646363;
                    }
                    h1 {
                        font-size: calc(15px + 1vw);
                    }
                    h2 {
                        font-size: calc(13px + 1vw);
                    }
                }
                .button-container {
                    border-radius: 50%;
                    border: none;
                    font-size: 2.5em;
                    padding: 15px 28px;
                    cursor: pointer;
                    background-color: #1c3177;
                    color: white;
                    position: absolute;
                    right: calc(0.5em + 0.5vw);
                    bottom: calc(0.5em + 0.5vw);
                }
                .button-container:hover {
                    background-color: #dc2128;
                }
            }
        }
    }
    footer {
        overflow: hidden;
        height: 40em;
        background-color: #1c3177;
        width: 100%;
        z-index: -10;
        position: absolute;
        .empty {
            width: 100%;
            height: calc(2em + 10vw);
        }
        .up-section,
        .dwn-section {
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin: 0 auto;
            ul {
                list-style: none;
                li {
                    h1 {
                        font-size: calc(13px + 0.5vw);
                        color: white;
                        margin-bottom: 0.2em;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        line-height: 25px;
                    }
                    .register {
                        padding: 6px 10px;
                        background-color: white;
                        color: #1c3177;
                        border-radius: 20px;
                        font-weight: 600;
                    }
                    a:hover {
                        color: #a1b5ff;
                    }
                    .register:hover {
                        background-color: #dc2128;
                        color: white;
                    }
                }
            }
        }
        .copyright {
            width: 100%;
            height: 8vh;
            bottom: 0;
            position: absolute;
            background-color: #122050;
            z-index: 10;
            p {
                text-align: center;
                color: white;
                font-weight: 300;
            }
        }
    }
}

/* LINE AFTER on-fixed CLASS TO HIDE BOTTOM SHADOW */
.on-fixed::after {
    background-color: white;
    height: 20px;
    content: "";
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -100;
}

@media screen and (max-width: 1024px) {
    .presentation {
        .cover {
            img {
                right: 0;
            }
        }
    }
    .on-fixed {
        .four-card {
            .academic {
                .graduate {
                    height: 70vh;
                    width: auto;
                    overflow: hidden;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        .partner {
            .gallery {
                grid-template-columns: auto auto auto auto auto auto;
            }
        }
    }
}
@media screen and (max-width: 925px) {
    .presentation {
        // .introduction{.quote {p {font-size: 25px;}}}
        .cover {
            img {
                top: 15vh;
                width: 70vh;
                height: auto;
                right: 0;
            }
        }
    }
    .on-fixed {
        .whyniptict {
            margin-top: 1em;
            .card {
                margin-top: 0;
                margin-bottom: -2em;
            }
            .aver-year {
                flex: 2;

                .cicle {
                    margin: 0 auto 0.3em;
                    width: 28vh;
                    height: 28vh;
                    border-radius: 50%;
                    background: #1b3176;
                }
            }
            .got-job {
                flex: 2;
                .cicle {
                    width: 28vh;
                    height: 28vh;
                    border-radius: 50%;
                    background: #3d8791;
                }
            }
            .scholar {
                flex: 2;
                .cicle {
                    width: 28vh;
                    height: 28vh;
                    border-radius: 50%;
                    background: #337373;
                }
            }
            .ecom-and-tn {
                flex: 2;
                .cicle {
                    width: 28vh;
                    height: 28vh;
                    border-radius: 50%;
                    background: #f6c233;
                }
            }
        }
    }
    .youtube {
        .ytcontainer {
            iframe {
                height: 85%;
            }
            video {
                height: 15%;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 860px) {
    .presentation {
        flex-direction: column;
        .introduction {
            width: 100%;
            margin-top: 5vh;
        }
        .cover {
            img {
                right: calc(8% + 5vh);
                width: calc(50vh + 10%);
                top: 35vh;
            }
        }
    }
    .on-fixed {
        .four-card {
            .academic {
                flex-direction: column;
                .major {
                    width: 100%;
                    padding-left: 0;
                }
                .graduate {
                    margin: 0 auto;
                    flex: 1;
                    width: 95%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .three-card {
                flex-direction: column;
                margin: 0 auto;
                .rnd {
                    width: 100%;
                    margin: 10px auto;
                    margin-right: 10px;
                }
                .columnflex {
                    width: calc(100% + 2vh);
                    padding: 0;
                    margin: 10px auto;
                    margin-left: 0px;
                }
            }
        }
        .smartscholar {
            height: calc(30vh + 20em);
            .logo {
                width: 12em;
                height: 3em;
                background-color: rgb(255, 255, 255);
                margin-top: 1.5em;
                border-radius: 4em;
                right: -5em;
                position: absolute;
                img {
                    width: 5em;
                    height: auto;
                    position: absolute;
                    left: 1.6em;
                    top: -2em;
                }
            }
            .container {
                left: 1.8em;
                width: 55vh;
                position: absolute;
            }
        }
        .partner {
            .gallery {
                grid-template-columns: auto auto auto auto auto auto;
                .img {
                    position: relative;
                    height: calc(2em + 6vw);
                    width: auto;
                }
            }
        }
        .president {
            .container {
                flex-direction: column;
                .right-container {
                    p {
                        margin-top: -5px;
                        font-weight: 300;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    .button-container {
                        padding: 7px 20px;
                    }
                }
            }
        }
        footer {
            height: 70em;
            .empty {
                height: 40%;
            }
            .up-section,
            .dwn-section {
                width: 90%;
            }
        }
    }
}
@media screen and (max-width: 560px) {
    .on-fixed {
        .smartscholar {
            height: calc(30vh + 20em);

            .container {
                width: 100%;
                margin: 0 auto;
                .text {
                    width: 75%;
                }
            }
        }
        footer {
            height: 70em;
            .empty {
                height: 20%;
            }
            .up-section,
            .dwn-section {
                margin-right: 0vh;
                flex-direction: column;
            }
        }
    }
}
@media screen and (max-width: 360px) {
    .on-fixed {
        .partner {
            .gallery {
                grid-template-columns: auto auto auto auto auto;
                .img {
                    height: 3em;
                }
            }
        }
        .smartscholar {
            height: calc(30vh + 20em);
            .container {
                .text {
                    width: 85%;
                }
            }
        }
    }
}
