body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  overflow-y: scroll;
}

.hero-image {
  width: 100%;
  background: url(/image-files/Hexagon-dotted-connect-line-background.png) no-repeat 50% 50%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  opacity: 0.3;
  top: 0;
  z-index: -10;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  min-height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation .introduction {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  z-index: -1;
}

.presentation .introduction .quote p {
  color: #2042b2;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.presentation .introduction .quote span {
  color: #dc2128;
}

.presentation .introduction .button {
  margin: -20px auto 0 auto;
  width: 200px;
}

.presentation .introduction .button .enroll {
  margin: 0 auto;
  background-color: #dc2128;
  color: white;
  padding: 20px 50px;
  font-weight: 4000;
  font-size: 1em;
  border-radius: 50px;
  text-decoration: none;
}

.presentation .cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
}

.presentation .cover img {
  top: 10vh;
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  height: 98%;
}

.whitespace {
  width: 100%;
  height: 10vh;
  color: red;
  z-index: 0;
}

.on-fixed {
  -webkit-box-shadow: 0px 0px 6px 0px #bdbdbd;
  box-shadow: 0px 0px 6px 0px #bdbdbd;
  background: #fbfbfb;
  height: 100vh;
  width: 100%;
  margin: 50px auto;
  padding: 30px 0;
  position: absolute;
  z-index: 1000000;
}

.on-fixed .four-card .academic {
  margin: 0 auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px #bdbdbd;
  box-shadow: 0px 0px 6px 0px #bdbdbd;
}

.on-fixed .four-card .academic .major {
  padding: 10px;
  color: #463D3D;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  text-align: center;
  width: 50%;
}

.on-fixed .four-card .academic .major p, .on-fixed .four-card .academic .major h1 {
  text-align: left;
  width: 100%;
  margin: 5px;
  margin-left: 9px;
}

.on-fixed .four-card .academic .major p {
  font-size: 23px;
}

.on-fixed .four-card .academic .major a {
  text-decoration: none;
  width: 90%;
  font-size: 22px;
  font-weight: 500;
  color: white;
  background-color: #2D6481;
  display: block;
  padding: 10px;
  margin: -5px;
  margin-left: 10px;
}

.on-fixed .four-card .academic .graduate {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  margin: 8px 0 0 15px;
}

.on-fixed .four-card .academic .graduate img {
  width: 100%;
}

.on-fixed .four-card .three-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(87.3% + 1vh);
  height: 100vh;
  margin: 20px auto 0;
}

.on-fixed .four-card .three-card .rnd, .on-fixed .four-card .three-card .columnflex > * {
  overflow: hidden;
  margin: 0 5px;
  border-right: solid 5px white;
  background-color: white;
  -webkit-box-shadow: 0px 0px 6px 0px #bdbdbd;
  box-shadow: 0px 0px 6px 0px #bdbdbd;
}

.on-fixed .four-card .three-card .rnd img, .on-fixed .four-card .three-card .columnflex > * img {
  height: 206px;
  width: auto;
}

.on-fixed .four-card .three-card .rnd {
  width: 50%;
  -webkit-box-flex: 1/2;
      -ms-flex: 1/2;
          flex: 1/2;
}

.on-fixed .four-card .three-card .columnflex {
  width: 50%;
  -webkit-box-flex: 1/2;
      -ms-flex: 1/2;
          flex: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.on-fixed .four-card .three-card .columnflex .training, .on-fixed .four-card .three-card .columnflex .entrepre {
  width: 50%;
  -webkit-box-flex: 1/2;
      -ms-flex: 1/2;
          flex: 1/2;
}

@media screen and (max-width: 1024px) {
  .presentation .cover img {
    right: 0;
  }
}

@media screen and (max-width: 930px) {
  .presentation .introduction .quote p {
    font-size: 25px;
  }
  .presentation .cover img {
    top: 15vh;
    width: 70vh;
    height: auto;
    right: 0;
  }
}

@media screen and (max-width: 800px) {
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .presentation .introduction {
    width: 100%;
    margin-top: 0%;
  }
  .presentation .cover img {
    right: calc(8% + 5vh);
    width: calc(50vh + 10%);
    top: 35vh;
  }
  .on-fixed .four-card .academic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .on-fixed .four-card .academic .major {
    width: 100%;
  }
  .on-fixed .four-card .academic .graduate {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .on-fixed .four-card .academic .graduate img {
    max-width: 93%;
  }
  .on-fixed .four-card .three-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .on-fixed .four-card .three-card .rnd {
    width: 100%;
    margin: 10px auto;
    margin-right: 10px;
  }
  .on-fixed .four-card .three-card .columnflex {
    width: calc(100% + 2vh);
    padding: 0;
    margin: 10px auto;
    margin-left: 0px;
  }
}
/*# sourceMappingURL=main.css.map */