body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
}
.hero-image{
    width: 100%;
    background: url(/image-files/Hexagon-dotted-connect-line-background.png) no-repeat 50% 50%;
    height: 100vh;
    background-size: cover;
    position: absolute;
    opacity: 0.3;
    top: 0;
    z-index: -10;
}
.presentation {
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    .introduction {
        display: block;
        flex: 1;
        width: 50%;
        z-index: -1;
        .quote {
            p {
                color: #2042b2;
                font-size: 2rem;
                font-weight: 500;
                text-align: center;
                flex: 1;
            }
            span {
                color: #dc2128;
            }
        }
        .button{
            margin: -20px auto 0 auto;
            width: 178px;
            .enroll {
                margin: auto;
                background-color: #dc2128;
                color: white;
                padding: 15px 50px;
                font-weight: 4000;
                border-radius: 50px;
                text-decoration: none;
            }
        }
    }
    .cover {
        flex: 1;
        width: 50%;
        img {
            top: 10vh;
            bottom: 0;
            position: absolute;
            margin: 0 auto;
            height: 98%;
        }
    }
}

.whitespace {
    width: 100%;
    height: 10vh;
    color: rgb(255, 0, 0);
    z-index: 0;
}

.on-fixed {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(189,189,189,1);
    box-shadow: 0px 0px 6px 0px rgba(189,189,189,1);
    // background: #fbfbfb;
    // background: #0400ff;
    background: #fbfbfb;
    height: 100vh;
    width: 100%;
    margin: 50px auto;
    padding: 30px 0;
    position: absolute;
    z-index: 1000000;
    .four-card{
        .academic{
            margin: 0 auto;
            width: 85%;
            display: flex;
            background-color: white;
            padding: 10px;
            -webkit-box-shadow: 0px 0px 6px 0px rgba(189,189,189,1);
            -moz-box-shadow: 0px 0px 6px 0px rgba(189,189,189,1);
            box-shadow: 0px 0px 6px 0px rgba(189,189,189,1);
            
            .major{
                padding: 10px;
                color: #463D3D;
                flex: 0.8;
                text-align: center;
                width: 50%;
                p, h1{
                    text-align: left;
                    width: 100%;
                    margin: 5px;
                    margin-left: 9px;
                }
                p{font-size: 26px;}
                a{
                    text-decoration: none;
                    width: 90%;
                    font-size: 24px;
                    font-weight: 500;
                    color: white;
                    background-color: #2D6481;
                    display: block;
                    padding: 10px;
                    margin: -5px;
                    margin-left: 10px;
                }
            }
            .graduate{
                flex: 1.2;
                margin: 8px 0 0 15px;
                img{
                    width: 100%;
                }

            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .presentation {
        .cover {
            img {   
                right: 0;
            }
        }
    }
}
@media screen and (max-width: 930px) {
    .presentation {
        .introduction{.quote {p {font-size: 25px;}}}
        .cover {
            img {   
                top: 15vh;
                width: 70vh;
                height: auto;
                right: 0;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .presentation {
        flex-direction: column;
        .introduction{
            width: 100%;
            margin-top: 0%;
        }
        .cover {
            img {
                right: calc(8% + 5vh);
                width:  calc(50vh + 10%);
                top: 35vh;
            }
        }
    }
    .on-fixed{
        .four-card{
            .academic{
                flex-direction: column;
                .major{
                    width: 100%;
                }
                .graduate{
                    flex: 1;;
                    width: 100%;
                    img{
                        max-width: 93%;
                    }
                }
            }
        }
    }
}