.mainHome{
    position: fixed;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    .presentation{
        display: flex;
        width: 90%;
        margin: auto;
        min-height: 80vh;
        align-items: center;
        .introduction{
            align-items: center;
            flex: 1;
            .quote{
                margin: 0 auto;
                width: 80%;
                p{
                    color: #2042B2;
                    font-size: 35px;
                    font-weight: 500;
                    text-align: center;
                    flex: 1;
                }
                span{
                    color: #DC2128;
                }
                .enroll{
                    background-color: #DC2128;
                    position: relative;
                    color: white;
                    padding: 5px 20px;
                    font-weight: 400;
                    border-radius: 50px;
                    text-decoration: none;
                }
            }
        }
        .cover{
            flex: 1;
            img{
                bottom: 0;
                top: 6px;
                margin: auto;
            }
        } 
        .background-fixed{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -2;
            opacity: 0.2;
        }
    }
}

.transparent{
    pointer-events:all;
    filter:Alpha(opacity=0);
    height: 50em;
    width: 1px;
    z-index: -4;
    background-color: #DC2128;
    opacity: 0;
    
}
.on-fixed{
    z-index: 2;
    position: relative;
    height: 1000px;
    background-color: #fbfbfb;
}

@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
        .introduction{
            .quote{
                p{
                    color: #2042B2;
                    font-size: 20px;
                    margin-top: 80px;
                }
            }
        }
    }
    .cover{
        img{
            width: 100%;
            display: flex;
        }
    }
}
@media screen and (max-width: 750px){
    .presentation{
        .introduction{
            .quote{
                p{
                    font-size: 20px;
                }
            }
        }
    }
}
