body{
	margin: 0px;
	padding: 0px;
	 
}

				
div.dropdown button.dropbtn{
	color:#2042B2;
}
div.topnav nav a{
	color: #2042B2;
}
div.dropdown div.dropdown-content a{
	color: blue;
}

/* button 1*/

#but{
		background-color:#DC2128;
		margin: 20px 0px 10px 0px;
		font-size: 15px;
		border-radius: 25px;
		color: white;
		border: none;
		padding: 15px 50px;
		text-decoration: none;
	}
 #but:hover{
		color:#a1aaca;
		transition: 1s;
		cursor: pointer;
	}


/* text */

.text{

  margin-top: 100px;
  margin-bottom: 30px;
  color: #2042b2;
  font-size: 22px;
  font-weight: 500; 

}
@media only screen and (max-width: 540px) {
	.text{
		margin-left: 0px;
		width: 100%;height: auto;
		text-align: center;
	}
  }

/* map */

.map{
	
	margin-left: 20px;	
}

  img#img1{
	  width: 407px;
	  height: 400px;
  }
  @media only screen and (max-width: 540px) {
	img#img1{
		margin-left: 0px;
		width: 100%;height: auto;
	}
  }
 
 /* div text+map  */

div.map_text{
	margin-left: 50px;
	margin-top: 100px;
	display:flex;
	justify-content: center;
	
}
@media only screen and (max-width: 540px) {
	div.map_text{
		margin-left: 2px;
		display:block;
	
	}
  }

/* contact_us*/

  .Location-information{
	border: none;
	background-color: #2042B2;
	width: 407px;
	height: 450px;
	color: white;
	padding: 25px;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0px 0px 6px 0px #bdbdbd;	
	
}
@media only screen and (max-width: 540px) {
	.Location-information{
		margin-left: 0px;
		width: auto;height: auto;
		padding-left: 25px 80px;
	}
  }
  div.Location-information a{
	color: white;
}
/*icon*/
.i{
	color: #b8b4b4;
}
.i:hover{
	color: white;
}

div.icon a{
	margin-left: 50px;
	color:#b8b4b4;
}
div.icon a:hover{
	color: white;
}
/* send us a message */

	.send{
		border: none;
		background-color: white;
		width: 407px;
		height: 450px;
		box-shadow: 0px 0px 6px 0px #bdbdbd;
		margin-left: 20px;
	
	}
	@media only screen and (max-width: 540px) {
		.send{
			width:auto ;height: auto;
			margin-left: 2px;
		}
	  }


	.contact-form{
		padding: 30px;
		margin: auto;
		padding: 10px;
		overflow: hidden;
	}
	.contact-form-text{
		display: block;
		width: 100%;
		box-sizing: border-box;
		margin: 16px 0;
		border: solid 1.5px #b1b0b5;
		padding: 14px 40px;
		outline: none;
		color: black;
		border-radius: 10px;
		
		
	}
	::placeholder{
		color:#6f7b8f;
	}
	textarea.contact-form-text{
		resize: none;
		height: 120px;
	}
	.contact-form-btn{
		
		border: none;
		background:red;
		color:white ;
		padding: 12px 50px;
		border-radius: 40px;
		cursor: pointer;
		float: right;

		
	}
	.contact-form-btn:hover{
		color: #2042B2;
	}
/* .send + Location-information */


.send_Location-information{
	margin-top: 70px;
	display:flex;
	justify-content: center;
	
	
}
@media only screen and (max-width: 540px) {
	.send_Location-information{
		margin-left: 0px;
		display:block;
	}
  }

  

	/* footer */

footer#bottom-of-web>div#top-infor {
    margin-top: 60px;
    margin-bottom: 0;
    display: block;
}

footer#bottom-of-web>div#top-infor>div.information {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    /* padding-left: 4%; */
    background-color:rgb(252, 252, 253) ;
}

footer#bottom-of-web>div#top-infor>div.information>div {
    margin: 0;
    display: block;
    width: 20%;
    padding: 10px 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
@media only screen and (max-width: 540px) {
	footer#bottom-of-web>div#top-infor>div.information>div{
		width: 29%;
	}
  }

footer#bottom-of-web>div#top-infor>div.information div.align-left {
    text-align: left;
}

footer#bottom-of-web>div#top-infor>div.information div.align-center {
    text-align: center;
}

footer#bottom-of-web>div#top-infor>div.information div.align-right {
    text-align: right;
}

footer#bottom-of-web>div#top-infor>div.information>div>a {
    text-decoration: none;
    border-radius: 20px;
    background-color:red;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px 10px;
	margin-left: -10px;

}

footer#bottom-of-web>div#bottom-copy-right {
    background-color:#122050;
    height: 40px;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
}

.information a,h4{
	text-decoration: none;
	color:#2042B2;
	
}
.information a:hover{
	color: red;
	}

	 

	

	




