body{
	background-repeat: no-repeat;
	
	background-size: 100%;
	
	
}
				
div.dropdown button.dropbtn{
	color:#2042B2;
}
div.topnav nav a{
	color: #2042B2;
}
div.dropdown div.dropdown-content a{
	color: blue;
}

/* button 1*/

div.text a button.button{
		background-color:#DC2128;
		width: 150px;
		height: 40px;
		margin: 20px 0px 10px 0px;
		font-size: 15px;
		border-radius: 25px;
		color: white;
	}
	div.text a button.button:hover{
		background-color:#2547B4;
	}

	div.Location-information a{
		color: white;
	}

/* text */

.text{
	float: left;
	color: #2042B2;
	margin-top: 100px;
}

/* map */

.map{
	float: left;
	margin-left: 20px;	
}
@media only screen and (max-width: 540px) {
	.map{
		margin-left: 2px;
	}
  }

 /* div text+map  */

div.map_text{
	margin-left: 50px;
	margin-top: 100px;
	display:flex;
	justify-content: center;
	
}
@media only screen and (max-width: 540px) {
	div.map_text{
		margin-left: 2px;
		display:block;
	
	}
  }

/* .Location-information */

  .Location-information{
	border: solid 0px;
	background-color: #2042B2;
	float: left;
	width: 400px;
	height: 600px;
	position: relative;
	color: white;
	padding: 25px;
	box-sizing: border-box;
}
div.icon a{
	margin-left: 50px;
}
div.icon a:hover{
	color: red;
}

@media only screen and (max-width: 540px) {
	.Location-information{
		margin-left: 2px;
		display:block;
		width: 400px;
	    height: 500px;
	}
  }

/* .send + Location-information */

.send_Location-information{
	margin-left: 290px;
	margin-top: 70px;
	margin-right: 200px;
	display:flex;
	justify-content: center;
}
@media only screen and (max-width: 540px) {
	.send_Location-information{
		margin-left: 0px;
		display:block;
	}
  }

  /* contact-us */

	.send{
		border: solid 1px#3b4747;
		background-color: white;
		float: left;
	}
	.contact-form{
		padding: 30px;
		width: 380px;
		height: 498px;
		margin: auto;
		padding: 10px;
		overflow: hidden;
	}
	.contact-form-text{
		display: block;
		width: 100%;
		box-sizing: border-box;
		margin: 16px 0;
		border: solid 1px;
		padding: 20px 40px;
		outline: none;
		color: black;
		border-radius: 10px;
		
	}
	::placeholder{
		color:#6f7b8f;
	}
	textarea.contact-form-text{
		resize: none;
		height: 120px;
	}
	.contact-form-btn{
		float: right;
		border: 100%;
		background:red;
		color:white ;
		padding: 12px 50px;
		border-radius: 15px;
		cursor: pointer;
		
	}
	.contact-form-btn:hover{
		background:white;
		color: #2042B2;
	}

	/* footer */
div.footer{
		margin-top: 40px;
		color: #2547B4;
		display:flex;
		justify-content: center;
		margin-left: 200px;
		

	}
	div.footer1{
		margin-top: 40px;
		color: #2547B4;
		display:flex;
		justify-content: center;
		margin-left: 200px;
		

	}

	div.link{
		float: left;
	}
	div.link a{
		text-decoration: none;
		margin-right: 100px;
		
	}
	h4{
		margin-right: 100px;
	}

	@media only screen and (max-width: 540px) {
		div.link a{
			margin-left: 2px;
			
		}
	  }

	  @media only screen and (max-width: 540px) {
		h4{
			margin-left: 2px;
			display:block;
		}
	  }

	  @media only screen and (max-width: 540px) {
		div.footer{
			margin-left: 120px;
			display:block;	
		}
	  }

@media only screen and (max-width: 540px) {
		div.footer1{
			margin-left: 120px;
			display:block;	
		}
	  }
	  div a button.button2{
		background-color:#2042B2;
		width: 180px;
		height: 40px;
		font-size: 15px;
		border-radius: 25px;
		color: white;
	}

	div a button.button2:hover{
		background-color: red;
	}
	div.copyright{
		background-color: #2042B2;
		text-align: center;
		padding: 20px;
		margin-top: 60px;
		display: flex;
		justify-content: center;
	}






	

	

	  
	
	 

	

	




