body{
	background-size: 110%;
    background-repeat: no-repeat;
}

.dropdown a {
	color: white;
}
nav ul li a{
	color: white;
}
.button{
	background-color: white;
	width: 150px;
	height: 40px;
	margin: 20px 0px 10px 0px;
	font-size: 15px;
	border-radius: 25px;
}
.button:hover{
	background-color: red;
}
.text{

	color: white;
	float: left;
	width:30%;
	margin: 160px 0px 0px 250px;
	display: block;
}
.map{
   float: left;
   width: 30%;
   margin: 90px 0px 0px 50px;
   display: block;
}
.link{
	border: solid 0px;
	background-color: #0E4F6B;
	float: left;
	width: 350px;
	height: 400px;
	position: relative;
	top :75px;
	color: white;
	padding: 15px;
	box-sizing: border-box;
}
.send{
	float: right;
	 margin: 90px 700px 0px 50px;
}