body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
   height: auto;
}

#tech{
  margin-left: 140px;
  margin-top: 100px;
  font-size: 45px;
  color:red ;
}
@media only screen and (max-width: 540px) {
	#tech{
		margin-left: 20px;
	}
  }


#center{
    margin-right: 20px;
   display: block;
  

   
}
#text{
    font-family: DaunPenh;
    font-size: 35px;
    margin-top: 0px;
    width: 600px;
    color: #5c584f; 
}
img.img1{
  max-width:100%;height:auto;"
}
.Tech_center_text{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 10px;
   
}
@media only screen and (max-width: 540px) {
    #center{
      display: block;
      width: auto;
     
    }
  }

  @media only screen and (max-width: 540px) {
    img.img1{
      height: 400px;
     
    }
  }
  @media only screen and (max-width: 988px) {
    #center{
      display: block;
      width: auto;
     display: flex;
     justify-content: center;
     
    }
  }


  @media only screen and (max-width: 540px) {
    #text{
      display: block;
      width: auto;
      display: flex;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 988px) {
    #text{
      display: block;
      width: auto; 
      display: flex;
      justify-content: center;

    }
  }

  @media only screen and (max-width: 988px) {
    .Tech_center_text{
      display: block;
    }
  }

  
 

  






footer#bottom-of-web>div#top-infor{
	margin-top: 30px;
	margin-bottom: 0;
  }
  footer#bottom-of-web>div#top-infor>div.information{
	margin: 0;
	padding: 0;
	background-color: #2C2C2C;
	color: white;
	display: flex;
  /*   width: 100%; */
	padding-left: 4%;
  }
  footer#bottom-of-web>div#top-infor>div.information>div{
	margin: 0;
	display: block;
	width: 30%;
	padding: 10px 0;
	padding-left: 1.5%;
  }
  footer#bottom-of-web>div#top-infor>div.information>div>a{
	text-decoration: none;
	border-radius: 10px;
	background-color: white;
	color: black;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px 4px;
	margin-left: -10px;
  }
  footer#bottom-of-web>div#bottom-copy-right{
	background-color: #242424;  
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
  }